<tbody>
    {{#each transactions}}
    <tr>
        <td>{{this.date}}</td>
        <td>{{this.description}}</td>
        <td>{{this.category}}</td>
        <td>{{this.amount}}</td>
    </tr>
    {{/each}}
</tbody>